.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  color: rgb(204,219,56);
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}